# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Reports
reports/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
